<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5sn2Dlu3Wvel9jdchpdMLpFx-NJTskGY</string>
	<key>GCM_SENDER_ID</key>
	<string>44413210646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ifa21312055</string>
	<key>PROJECT_ID</key>
	<string>ifa-21312055-90f9e</string>
	<key>STORAGE_BUCKET</key>
	<string>ifa-21312055-90f9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44413210646:ios:87565a92692cf31998a537</string>
</dict>
</plist>