<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFQP_tLeQG_AIEpx1ZT-A6J8AVzJR3KSE</string>
	<key>GCM_SENDER_ID</key>
	<string>1081605988382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ifa21312055.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ifa-21312055</string>
	<key>STORAGE_BUCKET</key>
	<string>ifa-21312055.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081605988382:ios:9ddea4a5305ff5595ece0f</string>
</dict>
</plist>